* {
  box-sizing: border-box;
}

body {
  background-color: #1c1b21;
  color: #fafafa;
  font-size: 55px;
}

/* 
  Flex-wrap с flex-basis

*/

.container {
  border: 10px solid #6c38cc;
  display: flex;
  flex-wrap: wrap;

}


.item {
  text-align: center;
  background: #232228;
  border: 1px solid #6c38cc;
  padding: 10px;
  flex-basis: 300px;
  flex-grow: 1;
}






