* {
  box-sizing: border-box;
}

body {
  background-color: #1c1b21;
  color: #fafafa;
  font-size: 55px;
}

/* 
  Позиционирование элементов
  Align-self  При помощи этого свойства можно выровнять один или несколько элементов иначе, чем задано у родительского элемента. Например, в коде ниже у родителя задано выравнивание вложенных элементов по верхнему краю родителя. А для элемента с классом .item мы задаём выравнивание по нижнему краю.
*/

.container {
  border: 10px solid #6c38cc;
  display: flex;
  height: 100vh;
  align-items: flex-start;


}


.item {
  text-align: center;
  background: #232228;
  border: 1px solid #6c38cc;
  padding: 10px;
}

.item2 {
  align-self: flex-end;
}

