body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  background-color: #1E1F29;
  border-radius: 10px;
  padding: 48px;
}
h1  {
  color: #FAFAFA;
  font-size: 36px;
  font-family: sans-serif;
  text-align: center;
  margin: 0 0 32px 0;

}

label {
  color: #AFB2BF;
  position: absolute;
  top: 12px;
  left: 48px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

input, select, textarea {
  color: #FAFAFA;
  background-color: #2E2D3D;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: sans-serif;
  padding: 27px 48px 12px;
  border-radius: 10px;
  border: none;
}

button {
  color: #ffffff;
  background-color: #6C38CC;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
}

.field img {
  position: absolute;
  top: 17px;
  left: 16px;
}

.field {
  margin-bottom: 16px;
  position: relative;
}

/* Проценты

  Абсолютные размеры:
  1. px - пиксели, не гарантирует что будет ровно 1px, не всегда хорошо использовать для адаптива
  2. pt - поинтеры
  3. cm - сантиметры
  4. in - инчи
  5. mm - миллиметры

  Относительные размеры - строятся не относительно пикселей которые строятся на экране, а относительно родительского элемента или себя:
  1. em - позволяет более гибко задавать размеры элементов:
      font-size:
        1em - это величина шрифта родителя
        3em - в 3 раза большее щначение
      Для других значение - рассчитывается величина шрифта самого элемента
      
  2. rem
  3. vh - Viewport Height - процентная величина от общей высоты области просмотра
  4. vw - Viewport Width - процентная величина от общей ширины области просмотра 
  5. % - проценты, величина относительно родительского элемента или себя:
      width: 50% - процент от родительского элемента
      line-height: 110% - процент от размера шрифта
      height: 50% - не будет работать
*/

input, select, textarea {
  width: 100%; /* берем размер родительского элемента (.field), и от него 100% */
}



/* Max и min width в контексте с */

main {
  max-width: 600px; /* максимальная ширина 600px, и когда будем меняться разрешение, контент будет сам адаптироваться, с width так не будет,   */
  /* аналогично работает и min-width */
  margin: 0 auto;
}

/* Обычно адаптировать следует:
  1. 375-667 Iphone se
*/