/* Выбор элементов
  1. Универсальный селектор * - выбор всех элементов
  2. Селектор элемента - input, textarea, select, h1 и тд.
*/

/* Выбор пo id (#) */

#btnSend {
  border-radius: 10px;
  padding: 12px 24px;
  background-color: #6C38CC;
}

/* Выбор по классу (.selector) */

.inputForm {
  width: 697px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #2E2D3D;
  font-size: 16px;
  font-weight: 400;
}

main {
  background-color: #1E1F29;
}
h1  {
  color: #FAFAFA;
  font-size: 36px;
  font-family: 'Courier New', monospace;
}

label {
  color: #AFB2BF;
}

input, select, textarea {
  color: #FAFAFA;
  background-color: #2E2D3D;
}

button {
  color: #ffffff;
  background-color: #6C38CC;
}


input:invalid {
  background: red;
}

input:valid {
  background: green;
}
