:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #46287e;
  --color-secondary: #E47AD5;
  --color-bg: #16171D;
  --color-bg-medium: #1E1F29;
  --color-bg-light: #2E2D3D;
  --color-bg-footer: #101114;
  --color-text: #FAFAFA;
  --color-link-hover: #AFB2BF;
  --color-stroke: #4D5064;
  --color-gradient: linear-gradient(158deg, #D77BE5 0%, #BE63E5 34.69%, #6C38CC 100%);

  --border-8: 8px;
  --border-10: 10px;
  --container: calc(1220px - 48px); /* 48px (24px по бокам, что бы лого и логин не прижимались к краям */
}

* {
  box-sizing: border-box;
}

html {
  /* для сглаживания шрифтов */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--color-bg);
  margin: 30px;
  font-family: 'Fira Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
}

.item {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  border: 2px solid var(--color-primary);
  text-align: center;
  padding: 10px;
}


/* Grid контейнер */

/* Auto-fit и auto-fill

  auto-fill - браузер пытается понять сколько колонок необходимо, что бы они влезли по 300px

  auto-fill ЗАПОЛНЯЕТ строку максимально возможным количеством столбцов. Создается неявное количество столбцов при любой возможности их вместить, ведь задача этого значения в ЗАПОЛНЕНИИ строки максимальным количеством колонок. Новые колонки могут быть пусты, но они все равно будут занимать отведенное им место в строке. auto-fit ПОДГОНЯЕТ ТЕКУЩЕЕ КОЛЛИЧЕСТВО колонок под доступное пространство, расширяя их так, чтобы они заняли все доступное пространство. Браузер делает это после ЗАПОЛНЕНИЯ доступного пространства новыми колонками (как и auto-fill), после чего сжимает пустые столбцы.
*/
.wrapper {
  display: grid;
  /* В шабломе, в любом месте между колонками можно задать именнованное значение */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

/* .item_4 {
  grid-column: auto / -1;
} */
