:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #46287e;
  --color-secondary: #E47AD5;
  --color-bg: #16171D;
  --color-bg-medium: #1E1F29;
  --color-bg-light: #2E2D3D;
  --color-bg-footer: #101114;
  --color-text: #FAFAFA;
  --color-link-hover: #AFB2BF;
  --color-stroke: #4D5064;
  --color-gradient: linear-gradient(158deg, #D77BE5 0%, #BE63E5 34.69%, #6C38CC 100%);

  --border-8: 8px;
  --border-10: 10px;
  --container: calc(1220px - 48px); /* 48px (24px по бокам, что бы лого и логин не прижимались к краям */
}

* {
  box-sizing: border-box;
}

html {
  /* для сглаживания шрифтов */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--color-bg);
  margin: 30px;
  font-family: 'Fira Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
}

.item {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  border: 2px solid var(--color-primary);
  text-align: center;
  padding: 10px;
}


/* Grid контейнер */
.wrapper {
  display: grid;
  /* объявление шаблона колонок */
  grid-template-columns: 200px 100px; /* 2 колонки, первая 200px, вторая 100px */
  gap: 10px 20px; /* отступ по горизонтали(строки) 10px, по вертикали(столбцы) 20px */
  gap: 15px; /* отступ везде по 15px */;
  grid-template-rows: 100px 100px; /* оттсуп по строкам (высота элемента*/
  grid-auto-rows: 200px; /* элементы не попавшие под grid-template-rows, примут 200px высоту */
  grid-auto-rows: 50px 200px; /* чередование, 50px затем 200px и тд */
}
