body {
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 60px;
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none ;
}

nav {
  padding: 34px 50px;
  border-bottom: 1px solid #f0f0f0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0 0 17px 0;
}

h2 {
  margin: 0 0 19px 0;
}

h1, h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #050038;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}



footer {
  background: #050038;
  color: #ffffff;
  padding: 47px 40px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#heroBtn {
  background-color: #4262ff;
  border-radius: 32px;
  border: none;
  color: #ffffff;
  height: 48px;
  padding: 10px 20px;
}


.link {
  color: #4262ff;
  text-decoration: underline;
}

.heroText {
  color: #050038;
  margin: 0 0 55px 0;
}

.heroForm input {
  border-radius: 32px;
  border: 1px solid #9B99AF;
  height: 38px;
  padding: 5px 10px;
}

.heroForm + p {
  margin: 8px 0 52px 0;
}

.sectionText {
  color: rgba(5, 0, 56, 0.60);
  margin: 0 0 40px 0;
}

.link:hover {
  color: rgb(134, 84, 199);
}

.sectionList {
  list-style: none;
  /* list-style: url(../img/Frame.svg); */
}

.sectionList li::marker {
  content: url(../img/Frame.svg);
}

/* em */

#hero {
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

.heroText {
  font-size: 2em;
}

#heroBtn {
  height: 3em;
  font-size: 1em;
}


/* Анимация

  transition: all 0.5s; -  анимация всех свойст котрые возмможны
  transition: background-color 0.5s; - анимация для цвета бэкграунда

  Добавление нескольких свойств через запятупю:
  transition: background-color 1s, border-radius 2s;
  
  Задержка
  transition: background-color 1s 2s, - 2s это задержка перед применением анимации
*/

#heroBtn {
  transition: background-color 1s, border-radius 1s; /* если переместить на :hover, то анимация будет работать в одну сторону */
}

#heroBtn:hover {
  background-color: #000000;
  border-radius: 50%;
}

/* Animation

  animation: my-move 2s ease; - my-move - любое название анимации

  forwards - остаться вконце

  animation-name: my-move;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1s; - задержка перед началом анимации
  animation-iteration-count: 2; - количество повторов анимации

*/




/* Clamp - функция задает значение в диапазоне между указанными ниженей и верхней границами. Функция принимает три аргумента: минимальное, предпочтитаемое и максимально допустимое значения.
  clanp(min, val, max)
*/
.test div {
  background-color: red;
  width: clamp(200px, 80%, 600px);
  height: 200px;
  margin: 10px;
  color: white;
  font-size: 24px;
}
