
.link {
  color: #4262ff;
  text-decoration: underline;
}

#heroBtn {
  background-color: #4262ff;
  border-radius: 32px;
  border: 1px solid #4262FF;
  color: #ffffff;
  width: 440px;
  height: 51px;
}

h1, h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #050038;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.heroText {
  color: #050038;
}

.sectionText {
  color: rgba(5, 0, 56, 0.60);
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  text-decoration: none ;
}

/* Псеводо классы
  Специальные классы, позволяющие выбрать элемент в определенном состоянии
  Псевдоклассы находятся в спецификации
  - выбрать элемент в определенном состоянии
  :active
  :last-child
  :focus
  :hover
  и т.д
*/

.link:hover {
  color: rgb(134, 84, 199);
}

#heroBtn:hover {
  background-color: #0e0e13;
}

/* нажатие на кнопку */
#heroBtn:active {
  background-color: red;
}


.heroForm input:focus {
  background-color: red;
}

/* Псевдоклассы с параметрами */

/* Выбрать n-тый элементы (каждый второй, или каждый пятый и тд)
 odd - нечетный
 even - четный
 3n - каждый третий
 2n-1 -нечетный элемент
 */
ul li:nth-child(odd) {
  color: red
}

/* идет с конца */
ul li:nth-last-child() {
  color: green;
}

 /* Выбрать все элементы которые не содержат (что-то) */
p:not(.sectionText) {
  color: red;
}

/* Псевдоэлементы - позволяет стилизовать определенную часть элемента
  ::after
  ::before
  ::cue
  ::first-letter
  ::selection
  ::slotted и др.
*/

/* ::before - выбирает то, что идет до */
a::before {
  color: red;
  content: " ! ";
} 

/* ::after - выбирает то, что идет после */
a::after {
  color:red;
  content: " ! ";
}

/* когда происходит выделение текста */
*::selection {
  background-color: #4262FF;
}