/* Работас цветами */
/* 
  Цвет - смешивание красного, сминего, зеленого спектров
*/

/* Описание цвета
  1. Именованные цвета - green, red, black и тд.
  2. Система RGB - rgb(0, 255, 0), rgba(0, 255, 0, 0,85) - с прозрачностью
  3. Hex - шестнадцетеричная система исчисления: #ffe4c4
  4. HSL - hsl(50 80% 40%): 50-hue(конкретный цвет - градусы), 80% - saturation(насыщеннсоть), 40% - lightness(светлость)
  5. HWB - hwb(194 0% 0%) - редко
  6. LCH, LAB - редко

*/

main {
  background-color: #1E1F29;
}
h1  {
  color: #FAFAFA;
}

label {
  color: #AFB2BF;
}

input, select, textarea {
  color: #FAFAFA;
  background-color: #2E2D3D;
}

button {
  color: #ffffff;
  background-color: #6C38CC;
}