/* Стилизация текста
  Абсолютные размеры:
  1. px - пиксели, не гарантирует что будет ровно 1px, не всегда хорошо использовать для адаптива
  2. pt - поинтеры
  3. cm - сантиметры
  4. in - инчи
  5. mm - миллиметры

  font-size - размер шрифта
  line-height - ширина линии шрифта (высота строки)
  font-weight - толщина шрнифта
  font-style - начертание шрифта
*/
main {
  background-color: #1E1F29;
}
h1  {
  color: #FAFAFA;
  font-size: 36px;
  font-family: 'Courier New', monospace;
}

label {
  color: #AFB2BF;
}

input, select, textarea {
  color: #FAFAFA;
  background-color: #2E2D3D;
}

button {
  color: #ffffff;
  background-color: #6C38CC;
}

