:root {
  --color-primary: #6c38cc;
  --color-bg: #16171D;
  --color-bg-medium: #1E1F29;
  --color-bg-light: #2E2D3D;
  --color-text: #FAFAFA;
  --color-link-hover: #AFB2BF;
  --color-stroke: #4D5064;

  --border-8: 8px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  margin: 0;
  font-family: 'Fira Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}
